@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
body {
  background-color: #181818;
  font-family: Raleway, sans-serif;
  font-weight: 200;
}
:root {
  color-scheme: dark;
}